@model DormWebApplication.Room

@{
    ViewData["Title"] = "Edit";
}

<h3>Зміна інформації</h3>

<h4>Кімната</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CountPlace" class="control-label"></label>
                <input asp-for="CountPlace" class="form-control" />
                <span asp-validation-for="CountPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <select asp-for="FloorNumber" class="form-control" asp-items="ViewBag.FloorNumber"></select>
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resident" class="control-label"></label>
                <input asp-for="Resident" class="form-control" />
                <span asp-validation-for="Resident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
