
<head>
        <link rel="stylesheet" href="~/css/success.css" asp-append-version="true" />
</head>

<div class="plate">
  <p class="script"><span>Administration</span></p>
  <p class="shadow text1">Ваше замовлення обробляється!</p>  
  <p class="shadow text2">Чекайте на відповідь :)</p>
  <p class="shadow text3">Для внесення змін в замовлення, перейдіть в <a asp-action="Index" asp-controller="UserOrders"> Кошик</a></p>
  <p class="script"><span>Administration</span></p>

  <br />

  <a asp-action="Index" asp-controller="Home">На головну сторінку</a>
</div>
